/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08-Dec-2020, 00:34:43
    Author     : luanakimley
*/

.introtext {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px;
    margin-top: 40px;
}

input {
    padding:8px;
}

input[type="submit"] {
    width: 50%; 
    display: flex; 
    justify-content: center; 
    background-color: #f9faf4; 
    display: block; 
    margin: 0 auto;
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: #4a6163;
    color: white;
}